.heading {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
  transition: color 150ms ease;
}

.icon {
  flex-shrink: 0;
  opacity: 0;
  transition: opacity 150ms ease;
}

.heading:hover {
  color: var(--mantine-color-blue-4);
}

.heading:hover .icon {
  opacity: 0.4;
}
