.wrapper {
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
}

.tableWrapper {
  margin-top: calc(var(--mantine-spacing-xl) * 2);
  overflow-x: auto;
}

.tableCheck {
  color: var(--mantine-color-blue-6);
}

.tableDash {
  color: var(--mantine-color-dimmed);
}

.faqWrapper {
  margin-top: calc(var(--mantine-spacing-xl) * 2);
}

.faqItem {
  border-radius: var(--mantine-radius-md);
  margin-bottom: var(--mantine-spacing-lg);
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.faqQuestion[data-active] {
  color: var(--mantine-primary-color-4);
}

.tierName {
  font-weight: 700;
}
