NEXT_PUBLIC_PEER_SERVER_URL="https://peer-server.com/endpoint"
NEXT_PUBLIC_DEADROP_API_URL="https://deadrop.api.com/"

REDIS_REST_URL="<redis_rest_url>"
REDIS_REST_TOKEN="<redis_rest_token>"

NEXT_PUBLIC_HCAPTCHA_SITEKEY="<uuid>"
HCAPTCHA_SECRET=1234567890

IPINFO_IO_TOKEN=1234567890

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
STRIPE_SUPPORTER_PRICE_ID="price_..."

NEXT_PUBLIC_CLERK_PRO_PLAN_ID="cplan_..."

CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_WEBHOOK_SIGNING_SECRET="whsec_..."

NEXT_PUBLIC_TURN_USERNAME="username"
NEXT_PUBLIC_TURN_PWD="password"
