VITE_PEER_SERVER_URL="https://peer-server.com/endpoint"
VITE_DEADROP_API_URL="https://deadrop.api.com/"

REDIS_REST_URL="<redis_rest_url>"
REDIS_REST_TOKEN="<redis_rest_token>"

VITE_HCAPTCHA_SITEKEY="<uuid>"
HCAPTCHA_SECRET=1234567890

IPINFO_IO_TOKEN=1234567890

VITE_CLERK_PUBLISHABLE_KEY="<identifier>"
CLERK_SECRET_KEY="<secret>"

VITE_SENTRY_DSN=""

VITE_TURN_USERNAME="username"
VITE_TURN_PWD="password"

VITE_STRIPE_LIFETIME_LICENSE_LINK=""
