VITE_DEADROP_API_URL="https://deadrop.api.com/"
VITE_PEER_SERVER_URL="https://peer-server.com/endpoint"
VITE_TURN_USERNAME="username"
VITE_TURN_PWD="password"
VITE_CLERK_PUBLISHABLE_KEY="pk_test_..."
VITE_WEB_URL="https://deadrop.io"
